<p-dialog header="{{ 'Edit Footer' }}" [(visible)]="displayModal" [modal]="true" [style]="{'width': '90vw', 'max-width': '900px'}" [styleClass]="responsiveClass" (onHide)="onCancelClick()">
    <form [formGroup]="editForm" class="p-grid p-dir-col px-3 py-2">
      <div class="grid dir-row p-fluid">
        <div class="col">
          <div>
            <label for="gitHubUrl" class="mr-2">GitHub Url</label>
            <input type="text" pInputText formControlName="gitHubUrl">
          </div>
        </div>
      </div>
      <div class="grid dir-row p-fluid">
        <div class="col">
          <div>
            <label for="linkedInUrl" class="mr-2">LinkedIn Url</label>
            <input type="text" pInputText formControlName="linkedInUrl">
          </div>
        </div>
      </div>
    </form>
  
    <div class="grid justify-end mt-3 px-3">
      <button pButton type="button" class="p-button-secondary mr-4" (click)="onCancelClick()">Cancel</button>
      <button pButton type="button" class="p-button-primary" (click)="onSaveClick()">Save</button>
    </div>
    <div *ngIf="loading" class="loading-overlay">
      <div class="loading-spinner"></div>
    </div>
  </p-dialog>
  