<p-menubar>
  <ng-template pTemplate="start">
    <div class="d-flex align-items-center">
      <div class="logo pl-8">
        <!-- Agrega aquí tu imagen de logo -->
        <img src="assets/logo.png" alt="Logo">
      </div>
      <div class="ml-auto">
        <app-side-bar></app-side-bar>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="d-flex align-items-center">
      <input type="text" pInputText placeholder="Usuario" class="mr-2" />
      <input type="password" pInputText placeholder="Contraseña" *ngIf="!loggedIn" class="mr-2" />
      <button pButton type="button" label="Login" class="mr-2"></button>
      <button pButton type="button" label="Logout" *ngIf="loggedIn"></button>
    </div>
  </ng-template>
</p-menubar>
