@media screen and (max-width: 768px) {
    .p-panelmenu-responsive {
      width: 100% !important;
    }
  }
  

  .sidebar-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
  }
  
  .p-sidebar {
    width: 250px;
  }
  